<%- include ("partials/head.ejs"); %>
    <body>
        <%- include ("partials/header.ejs"); %>    
        <h1 class='alert'>!Todas as questões devem ser marcadas.</h1>
        <script type="text/javascript">
            window.alert("Marque todas as questões!")
            </script>
    </body>
</html>
