<%- include ("partials/head.ejs"); %>
    <body>
        <%- include ("partials/header.ejs"); %>    
        <h1 class='alert'>!Seu nome deve ser inserido e todas as questões devem ser marcadas.</h1>
        <script type="text/javascript">
             window.alert("Digite seu nome e marque todas as questões!")
            </script>
    </body>
</html>
