<%- include ("partials/head.ejs"); %>

  <body>
    <%- include ("partials/header.ejs"); %>
    <main>
      <section>
        <div class="title">
          <h1>Responda as questões abaixo!</h1>
        </div>
        <br />
        <div class="question">
          <h2>Questão 1</h2>

          <form class="questionForm" method="post" action="/score">
            <p id="question1">
              Considere o seguinte programa escrito em C. Lembre-se que o
              operador % significa resto da divisão inteira.
              <br />
              <code>
                #include <br />
                void main(){ <br />
                int num;<br />
                printf("Entre com um inteiro:\n");<br />
                scanf("%d", &num);<br />
                num = num + num%3;<br />
                printf("num = %d \n", num);<br />
                }
              </code>
            </p>
            <input type="radio" id="a" name="q1" value="a" />
            <label for="a"> num = 7</label><br />
            <input type="radio" id="b" name="q1" value="b" />
            <label for="b">num = 5</label><br />
            <input type="radio" id="c" name="q1" value="c" />
            <label for="c"> num = 2</label><br />
            <input type="radio" id="d" name="q1" value="d" />
            <label for="d">num = 8</label><br />
            <input type="radio" id="e" name="q1" value="e" />
            <label for="e">num = 6</label><br />
          
        </div>
        <div class="question">
          <h2>Questão 2</h2>
          <div class="questionForm">
          
          <p id="question2">
              Observe o trecho do código em C a seguir. Não esqueça que o
              operador % significa resto da divisão inteira.
              <br />
              <code>
                #include <br />
                void main(){ <br />
                int n, i; <br />
                i = 20; <br />
                n = 2*(i%3); <br />
                printf("n = %d", n); <br />
                }
              </code>
            </p>
            <input type="radio" id="a" name="q2" value="a" />
            <label for="a"> n = 12</label><br />
            <input type="radio" id="b" name="q2" value="b" />
            <label for="b"> n = 3</label><br />
            <input type="radio" id="c" name="q2" value="c" />
            <label for="c"> n = 3</label><br />
            <input type="radio" id="d" name="q2" value="d" />
            <label for="d"> n = 1</label><br />
            <input type="radio" id="e" name="q2" value="e" />
            <label for="e"> n = 4</label><br />
          </div>
        </div>
        <div class="question">
          <h2>Questão 3</h2>
          <div class="questionForm">
          <p id="question3">
              Marque a opção que apresente o comando que é usado em uma
              estrutura do tipo switch-case para evitar que as opções incorretas
              não sejam utilizada, caso uma determinada opção seja selecionada.
            </p>
            <input type="radio" id="a" name="q3" value="a" />
            <label for="a">done</label><br />
            <input type="radio" id="b" name="q3" value="b" />
            <label for="b">break</label><br />
            <input type="radio" id="c" name="q3" value="c" />
            <label for="c">else</label><br />
            <input type="radio" id="d" name="q3" value="d" />
            <label for="d">continue</label><br />
            <input type="radio" id="e" name="q3" value="e" />
            <label for="e">default</label><br />
            </div>
        </div>
        <div class="question">
          <h2>Questão 4</h2>
          <div class="questionForm">
          <p id="question4">
              <code>
                #include int main(void){<br />

                int i;<br />

                printf("F = ");<br />

                scanf("%d",&i);<br />

                <br />

                switch (i)br {<br />

                case 0 : printf("Maca");<br />

                break;<br />

                case 10 : printf("Abacate");<br />

                break;<br />

                case 20 : printf("Banana");<br />

                break;<br />

                case 30 : printf("Pera");<br />

                break;<br />

                case 40 : printf("Uva");<br />

                break;<br />

                default : printf("Caju");<br />

                } <br />

                } <br />
              </code>
              <br />
              Considerando o código em linguagem C apresentado acima, assinale a
              opção correta.
            </p>
            <input type="radio" id="a" name="q4" value="a" />
            <label for="a"
              >A função scanf trabalha com um argumento de entrada, dado pelo
              endereço da variável a ser lida.</label
            ><br />
            <input type="radio" id="b" name="q4" value="b" />
            <label for="b"
              >A função principal foi especificada para aceitar um argumento de
              entrada do tipo inteiro.</label
            ><br />
            <input type="radio" id="c" name="q4" value="c" />
            <label for="c"
              >O termo stdio.h especifica um arquivo de biblioteca dinâmica de
              funções.</label
            ><br />
            <input type="radio" id="d" name="q4" value="d" />
            <label for="d"
              >O termo printf especifica uma diretiva de compilação.</label
            ><br />
            <input type="radio" id="e" name="q4" value="e" />
            <label for="e"
              >A instrução switch é utilizada como um laço de repetição com
              número definido de iterações.</label
            ><br />
            </div>
        </div>
        <div class="question">
          <h2>Questão 5</h2>
          <div class="questionForm">
          <p id="question5">
              Assinale a alternativa que corresponde ao enunciado: <br />
              Faça um programa que leia vinte números inteiros e positivos e
              mostre o menor número.
            </p>
            <input type="radio" id="a" name="q5" value="a" />
            <label for="a"
              ><code>
                controle=1;<br />
                for (cont=1;cont<=20;cont++) <br />
                { scanf ("%d",&num);<br />
                if (controle==1)<br />
                menor=num;<br />
                else<br />
                if (num<br />
                menor=num;<br />
                controle++;<br />
                }<br /> </code></label
            ><br />
            <input type="radio" id="b" name="q5" value="b" />
            <label for="b"
              ><code>
                controle=0;<br />
                for (cont=1;cont<=20;cont++)<br />
                { scanf ("%d",&num);<br />
                if (controle==1)<br />
                menor=num;<br />
                else<br />
                if (num<br />
                menor=num;<br />
                controle++;<br />
                }
              </code></label
            ><br />
            <input type="radio" id="c" name="q5" value="c" />
            <label for="c"
              ><code>
                controle=1;<br />
                while (cont<=20)<br />
                { scanf ("%d",&num);<br />
                if (controle==1)<br />
                menor=num;<br />
                else<br />
                if (num<br />
                menor=num;<br />
                controle++;<br />
                }<br /> </code></label
            ><br />
            <input type="radio" id="d" name="q5" value="d" />
            <label for="d"
              ><code>
                controle=1;<br />
                for (cont=1;cont<=10)<br />
                { scanf ("%d",&num);<br />
                if (controle==1)<br />
                menor=num;<br />
                else<br />
                if (num<br />
                menor=num;<br />
                controle++;<br />
                }<br /> </code></label
            ><br />
            <input type="radio" id="e" name="q5" value="e" />
            <label for="e">
              <code>
                controle=1;<br />

                for (cont=1;cont<=20;cont++)<br />

                { scanf ("%d",&num);<br />

                if (controle==1)<br />

                menor=num;<br />

                else<br />

                if (num<br />

                menor=num;<br />

                }<br /> </code></label
            ><br />
                </div>
        </div>
        <div class="question">
          <h2>Questão 6</h2>
          <div class="questionForm">
          <p id="question6">
              Na codificação de um programa, na linguagem C, é necessária a
              declaração de uma matriz bidimensional para armazenar as notas de
              6 disciplinas de uma turma com 30 alunos.
              <br /><br />
              O algoritmo considera que os dados estarão organizados na matriz,
              de modo que cada linha represente as notas de um único aluno.
              <br /><br />
              Marque a alternativa que apresenta, de forma correta, a declaração
              dessa matriz, chamada de notasAlunos:
            </p>
            <input type="radio" id="a" name="q6" value="a" />
            <label for="a"> float notas [30,6];</label><br />
            <input type="radio" id="b" name="q6" value="b" />
            <label for="b">float notas [6][30];</label><br />
            <input type="radio" id="c" name="q6" value="c" />
            <label for="c">float notas [6,30];</label><br />
            <input type="radio" id="d" name="q6" value="d" />
            <label for="d">float notas [30|6];</label><br />
            <input type="radio" id="e" name="q6" value="e" />
            <label for="e">float notas [30][6];</label><br />
            </div>
        </div>
        <div class="question">
          <h2>Questão 7</h2>
          <div class="questionForm">
          <p id="question7">
              Observe a sequência a seguir: <br />

              A <br />

              BB <br />

              CCC <br />

              DDDD <br />

              O próximo termo é:
            </p>
            <input type="radio" id="a" name="q7" value="a" />
            <label for="a"> ABCBA</label><br />
            <input type="radio" id="b" name="q7" value="b" />
            <label for="b">EEEEE</label><br />
            <input type="radio" id="c" name="q7" value="c" />
            <label for="c">DEEEEED</label><br />
            <input type="radio" id="d" name="q7" value="d" />
            <label for="d">EDCBA</label><br />
            <input type="radio" id="e" name="q7" value="e" />
            <label for="e">ABCDE</label><br />
            </div>
        </div>
        <div class="question">
          <h2>Questão 8</h2>
          <div class="questionForm">
          <p id="question8">
              Para verificar o resto da divisão de um número inteiro por outro,
              utiliza-se no Portugol o operador %. <br />
              <br />
              Por exemplo: <br />

              5%2 tem como resultado 1. <br />

              14%3 tem como resultado 2. <br />

              12%6 tem como resultado 0. <br />

              <br />

              Observe a figura, a seguir, com um pequeno programa em Portugol:
              <br />
              <img src="/images/quest-8.JPG" alt="" /><br />
              Assinale a alternativa que poderia conter a saída no console de
              uma execução válida deste programa:
            </p>
            <input type="radio" id="a" name="q8" value="a" />
            <label for="a"
              >Digite um número: 25 <br />

              leia(numero) <br />

              O número 25 é multiplo de 5</label
            ><br />
            <input type="radio" id="b" name="q8" value="b" />
            <label for="b"
              >Digite um número: 21 <br />

              O número 21 não é multiplo de5\n</label
            ><br />
            <input type="radio" id="c" name="q8" value="c" />
            <label for="c"
              >Digite um número: 21 <br />

              O número 21 não é multiplo de 5</label
            ><br />
            <input type="radio" id="d" name="q8" value="d" />
            <label for="d"
              >Digite um número: 25 <br />

              O número 25 não é multiplo de 5</label
            ><br />
            <input type="radio" id="e" name="q8" value="e" />
            <label for="e">
              Digite um número: 25 <br />

              O número numero é multiplo de 5</label
            ><br />
              </div>
        </div>
        <div class="question">
          <h2>Questão 9</h2>
          <div class="questionForm">
          <p id="question9">
              Considere as três afirmações a seguir: <br />

              I - Recursividade é uma forma de repetição. <br />

              II - Variáveis são uma abstração de locais de memória do
              computador. <br />

              III - Operações aritméticas e lógicas só́ podem ser realizadas
              entre operandos do mesmo tipo.
              <br />

              <br />
              Está(ão) correta(s): <br />
            </p>
            <input type="radio" id="a" name="q9" value="a" />
            <label for="a">I e II</label><br />
            <input type="radio" id="b" name="q9" value="b" />
            <label for="b">II e III</label><br />
            <input type="radio" id="c" name="q9" value="c" />
            <label for="c"> Apenas I</label><br />
            <input type="radio" id="d" name="q9" value="d" />
            <label for="d"> I, II e III</label><br />
            <input type="radio" id="e" name="q9" value="e" />
            <label for="e"> Apenas II</label><br />
            </div>
        </div>
        <div class="question">
          <h2>Questão 10</h2>
          <div class="questionForm">
          <p id="question10">
              Considere o seguinte segmento de código na linguagem C: <br />

              <code>
                int a=3, b=2, c; <br />
                c=a!=b; <br />
              </code>

              Assinale a alternativa que apresenta os valores das variáveis
              término da execução:
            </p>
            <input type="radio" id="a" name="q10" value="a" />
            <label for="a">3, 3, 1</label><br />
            <input type="radio" id="b" name="q10" value="b" />
            <label for="b"> 3, 2, 1</label><br />
            <input type="radio" id="c" name="q10" value="c" />
            <label for="c">2, 2, 1 </label><br />
            <input type="radio" id="d" name="q10" value="d" />
            <label for="d">3, 3, 3 </label><br />
            <input type="radio" id="e" name="q10" value="e" />
            <label for="e">3, 2, 3 </label><br />

            <button type="submit" class="btn btn-primary">
              Verificar
            </button>
          </form>
        </div>
        <hr />        
       
      </section>
    </main>
  </body>
</html>
