<%- include ("partials/head.ejs"); %>
    <body>
        <%- include ("partials/header.ejs"); %>    
        <h1 class='alert'>!Usuário não cadastrado.</h1>
        <script type="text/javascript">
             window.alert("Usuário não encontrado!")
            </script>
    </body>
</html>
