<%- include ("partials/head.ejs"); %>
    <body>
        <%- include ("partials/header.ejs"); %>    
        <h1 class='alert'>!Nota final</h1>
        <div id='score'>
            <p id='finalScore'>Sua nota final foi: <span id='scoreStyle'><%= score %></span>
            </p>
            <br>          
            <span id='emoji'><%= emoji %></span> 
        </div>             
    </body>
</html>
