*/ {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #159A9C;
}

.container-fluid {
    background-color: #159A9C;
}

.container-fluid>.navbar-brand {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #DEEFE7;
    margin: 5vh 10vw;
    padding: 0 2.5vw;
    border-radius: 2rem;
}

section>.title {
    display: flex;
    margin-top: 2vw;
}

.title>h1 {
    text-transform: uppercase;
    margin: auto;
    padding: .5rem;    
}

.question {
    padding: 1rem;
}

.question>h2 {
    background-image: linear-gradient(90deg, #002333, #159A9C);
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    color: #FFFFFF;
    width: fit-content;
}

.questionForm {
    position: relative;
    margin-bottom: 1.5rem;
    border: 3px solid #159A9C;
    border-radius: 1.5rem;
    padding: 1.5vw;
    background-color: #FFFFFF;
}

.questionForm>p {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: justify;
}

.questionForm>label {
    font-size: 1.1rem;
}

.btn-primary {
    width: 12vw;
    margin: auto;
    margin-bottom: 2%;
}

/*_NOTA FINAL_*/
#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 3rem;
    margin: 5vw;
    background-image: linear-gradient(#002333, #159A9C, #B4BEC9);
    border-radius: 2rem;
}

#score>p {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

#finalScore {
    font-weight: bold;
}

#scoreStyle {
    font-size: 1.5rem;
}

#score>#emoji {
    margin: 0;
    padding: 0;
    width: min-content;
    border-radius: 50%;
    font-size: 2rem;
}

.alert{
    text-transform: uppercase;
    margin: auto;
    padding: 1rem;    
}